$card-bg: #fff;
$card-shadow: 0 4px 9px rgba(0, 0, 0, .2);
$standard-padding: .25rem;

.card {
  background: $card-bg;
  border-radius: 4px;
  box-shadow: $card-shadow;
  margin: 2rem auto;
  width: 1000px;
}

.search-input {
  padding: $standard-padding;
}

.device-table {

  &__caption {
    font-size: 1.25rem;
    font-weight: 500;
    padding: $standard-padding;
    text-align: left;
  }

  &__table {
    width: 100%;

    td,
    th {
      padding: $standard-padding;
      text-align: left;
    }
  }
}

.no-results-message {
  padding: $standard-padding;
}
